/* Importa i font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
    color: #AC94F4;
}

/* Sezione Hero */
#hero {
    background-image: url('immagini/hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 150px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-content {
    max-width: 600px;
    margin-left: 50px;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 60px; /* Regola la dimensione del logo */
    height: 60px;
    margin-right: 15px;
    opacity: 0;
    animation: logoFadeIn 1s ease-out forwards;
}

.logo-container h1 {
    font-size: 3em;
    margin: 0;
    animation: fadeInDown 1s ease-out;
}

#hero p {
    font-size: 1.2em;
    line-height: 1.5;
    animation: fadeInUp 1s ease-out;
}

.cta-button {
    display: inline-block;
    background-color: #AC94F4;
    color: #ffffff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
    animation: fadeInUp 1.5s ease-out;
}

.cta-button:hover {
    background-color: #5b8a17;
}

@keyframes logoFadeIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Media Query per dispositivi mobili */
@media (max-width: 480px) {
    .logo-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .logo-container h1 {
        font-size: 2.5em;
        text-align: left;
    }
}


/* Sezione Chi Siamo */
#chi-siamo {
    padding: 60px 5%;
    background-color: #f5f5f5;
}

#chi-siamo h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
    color: #AC94F4;
}

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
}

.about-us-text {
    flex: 1;
    padding-left: 40px;
}

.about-us-text p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    text-align: left;
}

.about-us-image {
    flex: 1;
    text-align: center;
}

.round-image {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .about-us-container {
        flex-direction: column;
    }

    .about-us-text {
        padding-left: 0;
        text-align: center;
    }

    .about-us-text p {
        text-align: center;
    }

    .about-us-image {
        margin-bottom: 20px;
    }
}


.cta-button {
    display: inline-block;
    background-color: #AC94F4;
    color: #ffffff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
    animation: fadeInUp 1.5s ease-out;
}

.cta-button:hover {
    background-color: #916ff8;
}

section {
    padding: 60px 5%;
    position: relative;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: left;
    color: #AC94F4;
}

section p {
    font-size: 1.1em;
    max-width: 800px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 40px;
}

/* Sezione Le Nostre Soluzioni */
#soluzioni {
    padding: 60px 5%;
    background-color: #fff;
}

#soluzioni h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
    color: #AC94F4;
}

.soluzione {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    /* Default su schermi grandi */
}

.soluzione:nth-child(even) {
    flex-direction: row-reverse;
    /* Inverte l'ordine per le sezioni pari */
}

.soluzione-image {
    flex: 1;
    text-align: center;
}

.soluzione-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.soluzione-content {
    flex: 1;
    padding: 0 40px;
}

.soluzione-content h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.soluzione-content p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    text-align: left;
}

/* Media Query per schermi piccoli */
@media (max-width: 768px) {
    .soluzione {
        flex-direction: column;
        /* Cambia la direzione in colonna */
    }

    .soluzione:nth-child(even) {
        flex-direction: column;
        /* Assicura che tutte le sezioni siano in colonna */
    }

    .soluzione-content {
        padding: 20px 0;
        text-align: center;
    }

    .soluzione-content h3 {
        text-align: center;
    }

    .soluzione-content p {
        text-align: center;
    }
}


/* Sezione Core Team */
#core-team {
    padding: 60px 5%;
    background-color: #fff;
}

#core-team h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
    color: #AC94F4;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member {
    display: flex;
    align-items: flex-start;
    /* Allinea gli elementi all'inizio */
    margin-bottom: 60px;
    width: 100%;
    max-width: 1200px;
    /* Aumenta la larghezza massima */
    opacity: 0;
    transition: opacity 1s ease-out;
}

.team-member.visible {
    opacity: 1;
}

.team-member img {
    width: 200px;
    /* Aumenta la dimensione dell'immagine */
    height: 200px;
    border-radius: 50%;
    margin-right: 40px;
    flex-shrink: 0;
    transition: transform 0.3s;
}

.team-member img:hover {
    transform: scale(1.05);
}

.member-info {
    flex: 1;
    text-align: left;
    /* Allinea il testo a sinistra */
}

.member-info h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.member-info p {
    font-size: 1.1em;
    /* Aumenta leggermente la dimensione del testo */
    line-height: 1.6;
    color: #555;
    margin: 0;
    /* Rimuove eventuali margini verticali */
}

/* Media Queries per schermi più piccoli */
@media (max-width: 992px) {
    .team-member {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* Centra il testo su schermi piccoli */
    }

    .team-member img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .member-info {
        text-align: center;
    }

    .member-info h3 {
        font-size: 1.6em;
    }

    .member-info p {
        font-size: 1em;
    }
}


/* Media Queries per schermi più piccoli */
@media (max-width: 768px) {
    .team-member {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .team-member img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .member-info h3 {
        font-size: 1.5em;
    }

    .member-info p {
        font-size: 0.9em;
    }
}

/* Stili per il Modal Chatbot */

#chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #72B01D;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    z-index: 999;
}

#chatbot-button:hover {
    background-color: #5b8a17;
}

.modal {
    display: none;
    position: fixed;
    bottom: 80px; /* Posiziona la finestra sopra il bottone del chatbot */
    right: 20px;
    width: 350px; /* Puoi regolare la larghezza secondo le tue preferenze */
    max-width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1000;
    flex-direction: column;
    animation: slideInUp 0.5s ease-out; /* Aggiunta di un'animazione */
}

.modal-content {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px; /* Altezza della finestra di chat */
}

.close {
    color: red;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #f1f1f1;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message.user {
    text-align: right;
}

.chat-message.bot {
    text-align: left;
}

.chat-message p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 80%;
}

.chat-message.user p {
    background-color: #DCF8C6;
    color: #000;
}

.chat-message.bot p {
    background-color: #ECECEC;
    color: #000;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #72B01D;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}

.chat-input button:hover {
    background-color: #5b8a17;
}

.timestamp {
    display: block;
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

.chat-message.user .timestamp {
    text-align: right;
}

.chat-message.bot .timestamp {
    text-align: left;
}

/* Animazione per la finestra di chat */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Sezione bho */

.section-divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px 0;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.in-view {
    opacity: 1;
    transform: translateY(0);
}


/* Sezione Contattaci */
#contattaci {
    background-color: #f9f9f9;
    padding: 60px 5%;
    text-align: center;
}

#contattaci h2 {
    font-size: 2.5em;
    color: #AC94F4;
    margin-bottom: 20px;
}

#contattaci p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 40px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-details,
.contact-form {
    flex: 1;
    min-width: 300px;
    margin: 20px;
}

.contact-details {
    text-align: left;
}

.contact-details h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.contact-details i {
    color: #AC94F4;
    margin-right: 10px;
}

.contact-details a {
    color: #AC94F4;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-form button {
    padding: 15px;
    background-color: #AC94F4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


.contact-form button:hover {
    background-color: #916ff8;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-details,
    .contact-form {
        max-width: 100%;
        text-align: center;
    }

    .contact-details p {
        text-align: center;
    }
}


footer {
    background-color: #333;
    color: #ffffff;
    padding: 40px 5%;
    text-align: center;
}

footer a {
    color: #AC94F4;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #916ff8;
}

footer .footer-links {
    margin-bottom: 20px;
}

footer .footer-links a {
    margin: 0 15px;
    font-size: 1em;
}

footer p {
    font-size: 0.9em;
    margin: 10px 0 0 0;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .image-container {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 90%;
    }
}